<html>
<head>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
</head>
<body data-controller="<%= js_route.controller_path %>" data-action="<%= js_route.action %>">
<div id="test_append"></div>
<%= yield %>
<%= execute_js_routes %>
</body>
</html>